{% load static %}

<!-- Header Start -->
<header id="header">
    <div class="main-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="logo">
                        <figure>
                            <a href="{% url 'home' %}" class="light-logo">
                                <img src="{% static "logo/foodOnlineLogo.png" %}" alt="FoodBakery" width=225>
                            </a>
                        </figure>
                    </div>
                    
                    <div class="main-location ml-5">
                        <ul>
                            <li class="location-has-children choose-location">
                                <form action="#">
                                    <input type="text" value="" name="location" id="location" placeholder="Your current location" autocomplete="off">
                                    <span id="foodbakery_radius_location_open" class="foodbakery-radius-location" onclick='getLocation()'><i class="icon-target5"></i></span>
                                </form>
                                
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="login-option">
                        {% if request.user.is_authenticated %}
                        <a href="{% url "cart" %}">
                            <i class="bi bi-cart-fill text-danger" style="font-size:20px"></i>
                            <span class="badge badge-warning"  id="cart_counter" style="border-radius:50px; position:relative; bottom:10px; left:-5px;">{{ cart_count }}</span>
                        </a>
                        {% endif %}
                        <a href="{% url "marketplace" %}" class="btn btn-outline-danger text-uppercase font-weight-bold">Marketplace</a>
                        {% if user.is_authenticated %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'myAccount' %}">My Account</a>
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'login' %}">Login</a>|
                            <a class="cs-color cs-popup-joinus-btn login-popup ml-0" href="{% url 'register-user' %}" >Register</a>
                            <a class="get-start-btn" href="{% url 'register-vendor' %}">
                                Register
                                Restaurant </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- get current location script -->
<script>
    const x = document.getElementById("location");
    let currentLocation = sessionStorage.getItem("currentLocation")
    console.log(currentLocation)
    if (currentLocation != ""){
        x.value = currentLocation
    }
    
    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    
    function showPosition(position) {
        console.log(position)
        let lat = position.coords.latitude
        let lng = position.coords.longitude

        // hit the AJAX request to googlemap api enpoint and get the location data using latitude and longitude
        let GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}"
        let url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"&key="+GOOGLE_API_KEY
        console.log(url)
        $.ajax({
            url: url,
            type: 'GET',
            success: function(response){
                console.log(response)
                let currentLocation = response.results[0].formatted_address
                console.log(currentLocation)
                x.value = currentLocation
                sessionStorage.setItem("currentLocation", currentLocation)
                window.location = '?latitude='+lat+'&longitude='+lng
            }
        })
    }
</script>