{% extends "base.html" %}
{% load static %}

{% block title %}
   Customer Dashboard
{% endblock title %}




{% block content %}

{% include "includes/alerts.html" %}

    <!-- Main Section Start -->
    <div class="main-section">
        {% include "customers/cover.html" %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <!-- Load sidebar here. -->
                         {% include "accounts/includes/cust-sidebar.html" %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h5>My Orders</h5>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="user-orders-list">
                                            <div class="responsive-table">
                                                <ul class="table-generic">
                                                    <li class="order-heading-titles">
                                                        <div>Order id</div>
                                                        <div>Name</div>
                                                        <div>Date</div>
                                                        <div>Total Price</div>
                                                        <div>Status</div>
                                                        <div>Details</div>
                                                    </li>
                                                    {% for order in orders %}
                                                        <li class="order-heading-titles">
                                                            <div class="text-dark"><b>{{order.order_number}}</b></div>
                                                            <div>{{ order.created_at|date }}</div>
                                                            <div>{{ order.name }}</div>
                                                            <div>${{ order.total }}</div>
                                                            <div><span class="order-status" style="background-color: #047a06;">{{ order.status }}</span></div>
                                                            <div><a href="{% url "order-details" order.order_number %}"><i class="bi bi-journal-bookmark-fill text-danger"></i></a></div>
                                                        </li>
                                                    {% endfor %}
                                                    
                                                </ul>

                                            </div>												
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- Main Section End -->
{% endblock content %}


